*{padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
    width: 1400px;
    height: 840px;
    background-image: url(./imgs/image\ 77.png);
    background-size: cover;
    background-repeat: no-repeat;
    top: 20px;
    left: -20px;
    overflow: hidden;
}

body{
    background: #110229;
}

#collapsibleNavId{
    width: 100%;
    display: flex;
    flex-direction: row;
}


nav .navbar-nav{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
}

nav .navbar-nav2{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav .navbar-nav2 button{
    border: none;
    padding: 6px 12px;
    background: linear-gradient(to right, #6477DD, #C753C1, #DC1DC3);
}


nav .navbar-nav2 button a {
    color: white;
}

nav .navbar-nav2 .login{
    color: white;
}

nav .navbar-nav2 .login:hover{
    color: blue;
}





.wrapper-div{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding: 188px 120px;
}

.contentbox1{
    width: 40%;
    color: white;
}

.contentbox1 h2{
    font-size: 64px;
    line-height: 80.01px;
    font-weight: 700;
}

.contentbox1 p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.cta-btns{
    display: flex;
    flex-direction: row;
    gap: 26px;
}

.explore-btn{
    border: none;
    color: white;
    padding: 16px 32px;
    background: linear-gradient(to right, #6477DD, #C753C1, #DC1DC3);
}

.create-btn{
    border: 1px solid #C753C1;
    color: white;
    padding: 16px 32px;
    background: transparent;
}

.stats{
    width: 500px;
    height: 120px;
    display: flex;
    flex-direction: row;
    gap: 69px;
    background: #21253C;
    color: white;
    padding: 33px 48px 15px 48px;

}

.active-user{
    width: 166.66px;
    display: flex;
    flex-direction: column;
    text-wrap: nowrap;
}

.artworks{
    width: 166.66px;
    display: flex;
    flex-direction: column;
}

.artists{
    width: 166.66px;
    display: flex;
    flex-direction: column;
}

.client-logos{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 81px;
    padding: 120px 120px;
}


.client-logos div img{
    width: 10vw;
}

.amazon-logo{
    width: 20%;
    display: flex;
    flex-direction: row;
}

.slack-logo{
    width: 20%;
    display: flex;
    flex-direction: row;
}

.paradigm-logo{
    width: 20%;
    display: flex;
    flex-direction: row;
}

.chase-logo{
    width: 20%;
    display: flex;
    flex-direction: row;
}

.binance-logo{
    width: 20%;
    display: flex;
    flex-direction: row;
}

.contentbox2{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.contentbox2 aside:nth-child(1){
    width: 40%;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 20px;
    padding: 120px 120px;
}

.contentbox2 aside:nth-child(1) h2{
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
}
.contentbox2 aside:nth-child(1) p{
    font-size: 16px;
    line-height: 25.6px;
    font-weight: 400;
}

.learnmore-btn{
    border: none;
    color: white;
    background: linear-gradient(to right, #6477DD, #C753C1, #DC1DC3);
    padding: 16px 32px;
}





.contentbox2 aside:nth-child(2){
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
}

aside:nth-child(2) .rectangle{
    width: 30%;
    display: flex;
    flex-direction: column;
    background-image: url(./imgs/Rectangle\ 52.png);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 84px 32px  0px 32px;

}

aside:nth-child(2) .rectangle img{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 16px;
    left: 32px;
}

aside:nth-child(2) .rectangle h5{
    font-size: 24px;
    line-height: 27px;
    font-weight: 700;
    text-wrap: nowrap;
}

aside:nth-child(2) .rectangle p{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}



