*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: rgb(17, 2, 41);


}

header{
    background-image: url(./imgs/image\ 77.png);
    background-size: cover;
    width: 100%;
    height: fit-content;
    top: 20px;
    left: 20px;
    
}


.navbar1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 20px;
}

.navitem1{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 1.5rem;

}

.navitem2{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1.5rem;

}

header nav .signup-button{
    color: white;
    border: none;
    padding: 12px 24px;
    background: linear-gradient(to right, #6477DD, #C753C1, #DC1DC3);

}


nav div ul li{
    color: white;
}

header .content-box{
    padding: 80px 0 70px 120px;
}


header .discover{
    width: 40%;
    padding-bottom: 1rem;
}

header .discover h1{
color: white;
font-size: 64px;
line-height: 80.01px;
font-weight: 700;
}

header .discover p{
    color: white;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

/* .header .stat-wrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 10rem;
} */

header .stats{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: fit-content;
    background-color: #FFFFFF1A;
    gap: 2rem;
}


header .stat-item{
    width: 25%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    
}

header .stat-item h3{
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;

}
header .stat-item p{
    font-size: 16px;
    line-height: 21.79px;
    font-weight: 400;

}

header .cta-buttons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-bottom: 3rem;
}

header .cta-explore{
    padding: 16px 32px;
    border: none;
    background: linear-gradient(to right, #6477DD, #C753C1, #DC1DC3);
    color: white;
}
header .cta-create{
    padding: 16px 32px;
    border: none;
    color: white;
    border: 1px solid #C753C1;
    background: transparent;
    
}

body .client-logo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30vh;
    padding: 60px 120px;

}


body .how-works, .learn-more{
    padding: 100px 120px 0 120px;


}

body .how-works h2{
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
    color: white;
    text-wrap: nowrap;

    
}

body .how-works p, .learn-more p{
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    color: white;

}

body .box{
    padding-right: 120px;
    padding-bottom: 50px;

}









/* MOBILE RESPONSIVENESS */

@media (max-width:576px) {

    header{
        background-image: url(./imgs/image\ 77.png);
        background-size: cover;
        width: 100%;
        height: fit-content;
        top: 20px;
        left: 0px;
    }
    


    header .content-box{
        padding: 80px 90px 70px 90px;
    }
    

    header .discover{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    

    header .discover h1{
        font-size: 22px;
        line-height: 36px;
        text-align: start;
        }

        header .discover p{
            font-size: 12px;
            text-align: start;
            line-height: 16px;
        }

        header .cta-explore{
            padding: 10px 20px;
        }
        
        header .cta-create{
            padding: 10px 20px;
        }


        header .stats{
            width: 100%;
            height: auto;
            align-items: start;
            gap: 5px;
            margin-bottom: 5px;

        }


        header .stat-item{
            width: 90%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 1rem;
        }



        header .stat-item h3{
            font-size: 20px;
            line-height: 20px;
            font-weight: 700;
        
        }
        header .stat-item p{
            font-size: 10px;
            line-height: 14px;
            font-weight: 400;
        }


        body .client-logo{
            width: 90%;
            justify-content: center;
            align-items: center;
            height: 10vh;
            padding: 10px 10px;
        }


        .navitem1{
            width: 60%;
            justify-content: flex-start;
            gap: 5px;
        
        }
        
        .navitem2{
            width: 40%;
            justify-content: flex-end;
            gap: 5px;
        
        }


        header nav .signup-button{
            padding: 5px 10px;        
        }
        
        header div ul li{
            font-size: 12px;
        }
    }      
    